<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#db0000" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="images/style/eat.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="description" content="Free restaurant catalogue for you">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Restaurant App</title>
</head>

<body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton" class="header__menu">☰</button>
        </div>
        <div class="app-bar__brand">
            <h1>Restaurant Catalogue</h1>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul class="nav__list">
                <li></li><a href="index.html">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://github.com/yenipujiati">About Us</a></li>
            </ul>
        </nav>
    </header>

    <main id="mainContent" tabindex="0"></main>

    <footer id="footer" class="about-us">
        <sub>
            <p>Copyright &#169; 2022 - Restaurant App</p>
            <!-- <a href="https://www.instagram.com/pjttynn/"><img src="/images/style/instagram-brands.svg" alt="icon instagram"></a> 
            <a href="https://github.com/yenipujiati"><img src="/images/style/github-brands.svg" alt="icon github"></a> -->
        </sub>
    </footer>
</body>

</html>